body {
    background-color: #96cffb;
    font-family: "Helvetica", "sans-serif";

}

.logo{
    position: absolute;
    right:0;
    top:0;
    width:10vw;
    height:10vw;
}

.header button {
    background-image: linear-gradient(to right, #c0731b, #ee850e);
    border-radius: 0px;
    border: 1px solid transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: unset;
    width: 10vw;
    height: 2vw;
    text-align: center;
    font-size: 1vw;

}
button {
    background-image: linear-gradient(to right, #860cd8, #530885);
    border-radius: 20vw;
    border: 0.1vw solid transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: unset;
    text-align: center;
}
.inline{
    display: inline;
}

.goal-welcome{
    text-align: center;
    font-size: 1.5vw;
}
.goalbutton{
    background-image: linear-gradient(to right, #860cd8, #530885);
    border-radius: 20vw;
    border: 0.1vw solid transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: unset;
    width: 15vw;
    height: 3vw;
    text-align: center;
    font-size: 2vw;
    
}
.goal-goals{
    font-size: 1vw;
    margin-right:4vw;
    display: inline;
    
}
.goal-goals button{
    width: 3vw;
    height: 3vw;
    outline:none;
    padding: unset;

}
.goal-goals img{
    width: 3vw;
    height: 3vw;
}
.newgoal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.newgoal.open {
    opacity: 1;
    z-index: 999;
}

.goal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.goal-inner h3 {
    margin: 0;
}

.goal-inner p {
    line-height: 24px;
    margin: 10px 0;
}

.goal-item{
    position: relative;
    cursor: pointer;
    text-decoration: underline;
}

.goal-item:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%; /* Adjust positioning as necessary */
    top: 0;
    white-space: pre-line;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1vw;
    border-radius: 1vw;
    width: 10vw;
    z-index: 1000;
    text-align: left;
    font-size: 0.75vw;
}

.goal-item:hover::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    border-width: 1vw;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}
.goal-art{
    position: relative;
    cursor: pointer;
}
.goal-art:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    left: -5%; /* Adjust positioning as necessary */
    top: 20%;
    white-space: pre-line;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5vw;
    border-radius: 1vw;
    width: auto;
    z-index: 1000;
    text-align: center;
    font-size: 0.5vw;
}

.goal-item:hover::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    border-width: 1vw;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

.center {
    align-self: center;
    align-content: center;
    text-align: center;

    padding: 1000 10;
}

.center h2 {
   font-size: 3vw;
}

.center img {
    width: 15vw;
    height: 15vw;
}

.center button {
    background-image: linear-gradient(to right, #860cd8, #530885);
    border-radius: 40vw;
    border: 0.1vw solid transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    width: 9vw;
    height: 4vw;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parent {
    display: flex;
    justify-content: space-around;
    background-color: mediumpurple;
    padding: 1px;
    min-height: auto;
    max-height: auto;
}

.child {
    display: inline-block;
    width: 45%;
    padding: 10px;
    line-height: 30px;
    font-size: 30px;
}
