<!DOCTYPE html>
<html lang = "en">


<head>  
<title> Tomorrow I want to... </title>
<link rel="icon" type="image/x-icon" href="/static/favico.ico.png">
</head>

<body style = "background-color:#76cffb">
    <h1> This is a website for <strong>freaks.</strong> </h1>
    <h2> Hello {{names}}! <br/> <a href='/logout'><button>Logout</button></a> </h2>
    
    <p>
        Tomorrow I want to is for procastinators and dumbusses alike!
        <img src = "/static/favico.ico.png" width ="100" height="100">
    </p>
    
    <pre>

<a href="https://github.com/erkambo/TIWT/">visit the github</a>

        <form>
            <label for = "goal"> Goal: </label>
            <input type="text" id="frame" name="goal"><br>
            <label for = "details">Details:</label>
            <textarea name = "details" rows = "10" cols="30"></textarea>
        </form>

    </pre>

    <hr>
</body>





</html>