<!DOCTYPE html>
<html lang = en>
    <div class = "center">
        <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=10.0">
        <title>TIWT Login </title>
        <img src="/static/favico.ico.png" class='center'>
        <h2 style="background-color:#86cffb" > Welcome to TIWT: tomorrow I want to <h2>
        <link rel="stylesheet" href="/static/style.css">
        </head>

    <body>
    
To start setting goals, please Login: <br> <br>
<a href='/login'><button>Login</button></a>
    </div>

    </body>